/* PROJECT GRID */

.project-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 50px;
}

.project img {
  aspect-ratio: 16/10;

  object-fit: cover;

  margin-bottom: 20px;
}

.project h3 {
  font-size: 1.6rem;

  font-weight: 400;

  margin-bottom: 15px;
}

.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.blog-list {
  display: list-item;
  margin-bottom: 8px;
  color: inherit;
}
