<nav id="navbar">
  <div class="logo">
    <a href="index.html">Richard McReynolds</a>
  </div>

  <ul>
    <li><a href="/richard-website/projects/projects.html">Projects</a></li>
    <li><a href="/richard-website/portfolio/portfolio.html">Portfolio</a></li>
    <!--
    <li><a href="/richard-website/studio/studio.html">Studio</a></li>
    <li><a href="/richard-website/experiments/experiments.html">Experiments</a></li>
-->
    <li><a href="/richard-website/about.html">About</a></li>
  </ul>
</nav>
